body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.feedback {
  margin-bottom: 20px;
  padding: 10px;
  color: #721c24; /* default for error */
  background-color: #f8d7da; /* default for error */
  border: 1px solid #f5c6cb; /* default for error */
  display: none;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #37ba67;
  color: white;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.item-list {
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  margin-bottom: 5px;
}

.item.completed {
  background-color: #eee; /* grey out when completed */
}

.item-name {
  flex-grow: 1;
}

.item-icons {
  display: flex;
  align-items: center;
}

.item-icons i {
  cursor: pointer;
  margin-left: 10px;
}

.item-icons {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  .fa-check-circle {
    color: green;
  }
  .fa-times-circle {
    color: red;
  }
}
