body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.bar-item {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.bar-item.button:hover {
  color: #f1f1f1;
}

.button.large {
  width: 100%;
  text-align: left;
}

.teal {
  background-color: #00796b;
  color: white;
}

.container {
  padding: 16px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar .bar-item {font-size: 18px;}
}
